//
// breadcrumb.scss
//

// Breadcrumb item arrow
.breadcrumb-item {
    a {
        color: var(--#{$prefix}body-color);

        &:hover {
            color: var(--#{$prefix}primary);
        }
    }
    +.breadcrumb-item {
        &::before {
            font-family: "tabler-icons";
        }
    }
}

.breadcrumb {
    margin-bottom: 0;
    padding: 0.75rem 0;
}